.gd-map-selection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 100px;
  @media (max-width: 1024px), (max-height: 768px) {
    row-gap: 50px;
  }
  @media (max-height: 576px) {
    row-gap: 25px;
  }
  @media (max-height: 400px) {
    row-gap: 10px;
  }
  height: 100%;

  .title {
    font-size: 40px;

    @media (max-height: 576px), (max-width: 768px) {
      font-size: 26px;
    }
    @media (max-height: 400px), (max-width: 576px) {
      row-gap: 20px;
    }
  }

  .map-listing-container {
    // if not align self stretch, the card list will collapse
    align-self: stretch;

    .swiper-slide {
      width: auto;

      &.swiper-slide-active {
        .gd-card {
          transform: scale(1.1);
          border-style: solid;
        }
      }
    }

    .gd-card-container--map-selection {
      padding: 15px;
    }
  }

  .map-name { 
    text-align: center; 
    padding-top: 30px; 
    font-size: 20px; 
    font-weight: 500;

    @media (max-height: 576px), (max-width: 768px) {
      font-size: 16px;
      padding-top: 15px;
    }
    @media (max-height: 400px), (max-width: 576px) {
      row-gap: 14px;
      padding-top: 10px;
    }
  }

  .btns-container {
    > * {
      margin-bottom: 15px;
    }

    > *:last-child {
      margin-bottom: 0;

      @media (max-height: 576px) {
        display: none;
      }
    }
  }

  .back-icon-btn-container {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;

    @media (max-height: 576px) {
      display: block;
    }

    @media (max-height: 400px) {
      top: 10px;
      right: 10px;
    }
  }
}
